.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  margin: 20px;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 92%;
  height: calc(100vh - 160px); /* Altura total menos el espacio del header */
  /* border: 1px solid; */

}

.select-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.select-container label {
  margin-right: 10px;
}

.select-container select, .search-button {
  padding: 10px;
  font-size: 16px;
}

.search-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 20px;
}

.image360-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
